.movie-detail-container {
  padding: 16px;
  margin: auto;
  max-width: 1200px;
  display: block;
}

mat-card {
  margin-bottom: 16px;
}

mat-card-title {
  font-size: 24px;
}

mat-card-content {
  margin-bottom: 16px;
}

mat-list {
  margin-bottom: 16px;
}
