.movie-detail-container {
  padding: 16px;
  margin: auto;
  max-width: 1200px;
  display: block;
}

mat-card {
  margin-bottom: 16px;
}

mat-card-title {
  font-size: 24px;
}

mat-card-content {
  margin-bottom: 16px;
}

mat-list {
  margin-bottom: 16px;
}

.error-card {  
    width: 50%;
    margin: auto;
    padding: 50px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 16px;
  border-radius: 4px;

 mat-card-title {
  margin-bottom: 20px;
}
.mat-mdc-card-content{
  text-align: center;
}

}