<div class="movie-list-container">
  <mat-tab-group (selectedIndexChange)="toggleSearchType($event)" mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Películas" value="movie">
      <form class="search-form">
        <mat-form-field appearance="outline">
          <mat-label>Buscar título</mat-label>
          <input
          matInput
          name="searchInput"
          [ngModel]="searchText"
          type="text"
          placeholder="Escribe para empezar a buscar..."
          (input)="search($event)"
          autocomplete="off">
        </mat-form-field>
      </form>
      <mat-list *ngIf="searchResults.length > 0">
        @for (item of searchResults; track item) {
        <mat-list-item>

          <a [routerLink]="['/details', searchType, item.id]">
            {{ item.title || item.name }}
          </a>

        </mat-list-item> }
      </mat-list>
      <div *ngIf="searching">
        <mat-progress-bar class="searching-bar" [mode]="mode">
        </mat-progress-bar>
      </div>
      <p *ngIf="searched && searchResults.length === 0 && searchTerm">No se
        encontraron
        resultados.</p>

      <mat-paginator *ngIf="totalResults" [length]="totalResults" [pageSize]="20"
        (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>

    </mat-tab>
    <mat-tab label="Series de TV" value="tv">
      <form class="search-form">
        <mat-form-field appearance="outline">
          <mat-label>Buscar título</mat-label>
          <input
          matInput
          name="searchInput"
          [ngModel]="searchText"
          type="text"
          placeholder="Escribe para empezar a buscar..."
          (input)="search($event)"
          autocomplete="off">
        </mat-form-field>
      </form>
      <mat-list *ngIf="searchResults.length > 0">
        @for (item of searchResults; track item) {
        <mat-list-item>

          <a [routerLink]="['/details', searchType, item.id]">
            {{ item.title || item.name }}
          </a>

        </mat-list-item>
        }
      </mat-list>
      <div *ngIf="searching">
        <mat-progress-bar class="searching-bar" [mode]="mode"></mat-progress-bar>
      </div>

      <p *ngIf="searched && searchResults.length === 0 && searchTerm">
        No se encontraron resultados.
      </p>

      <mat-paginator *ngIf="totalResults" [length]="totalResults" [pageSize]="20"
        (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>
</div>
