/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core(); // Include core Material styles
@import "@angular/material/prebuilt-themes/magenta-violet.css";

body {
  color-scheme: light dark;
  @include mat.theme((color: mat.$violet-palette,
      density: 0));
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #000;
  font: var(--mat-sys-body-large);

  .main-title {
    background-color: #888888;

    h1 {
      font-weight: inherit;
    }

    a {
      color: #fff;
    }
  }

  .main-container {
    max-width: 1200px;
    margin: 25px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee9e9;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(10, 6, 0, 0.05);


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5rem;
      margin-bottom: 0.8rem;
      font-weight: 500;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }

    a {
      color: var(--mat-sys-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .error-card {
      width: 50%;
      margin: auto;
      padding: 50px;
      background-color: var(--mat-sys-error-container);
      color: #721c24;
      padding: 16px;
      border-radius: 4px;

      mat-card-title {
        margin-bottom: 20px;
      }

      .mat-mdc-card-content {
        text-align: center;
      }

    }
  }
}
